.dropdown-menu {
  right: 6px;
  overflow: hidden;
  font-size: .9rem;
  @media (max-width: 1200px) {
    top: 53%;
    right: -3px;
    font-size: .8rem;
  }
  @media (max-width: 992px) {
    left: 0;
    right: 0;
    top: 109%;
  }
}