.dropdown-menu, .dropdown-item {
  max-width: 200%;
  overflow: hidden;
}

@media only screen and (max-width : 960px){

  .dropdown-menu, .dropdown-item {
    max-width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width : 760px){
  max-width: 100%;
}