.presentations-container {
    margin-top: 2rem;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 6rem;

    &.container { 
        @media (max-width: 992px) {
            min-width: 90%;
        }
        @media (max-width : 768px) {
            padding: 0;
        }
        @media (max-width : 600px) {
            margin-top: 1rem;
        }
        @media (max-width : 600px) {
            padding: 0;
            padding-bottom: 8rem;
        } 
    }

    .headings {
        @media (max-width: 768px) {
            display: none;
            height: 0;
            padding: 0;
        }
        
        .bold-text {
            & > * {
            font-weight: bold;
            margin-bottom: 0;
            height: fit-content;
                @media (max-width: 768px) {
                    display: none;
                    padding: 0;
                }
            }
            
            .article {
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
    }

    #spinner-parent {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    #list-legend {
        font-weight: bold;
    }

    .btn {
        min-width: initial;
        @media (max-width: 992px) {
            min-width: 5rem;
        }
    }
}

.presentations__pagination {
    margin-top: 1rem;
    margin-left: 1.2rem;
}
