#spinner-parent {
        display: flex;
        justify-content: center;
}

#list-legend {
        font-weight: bold;
}

@media only screen and (max-width : 984px){
        .container {
                min-width: 90%;
        }
}