.write-presentations {
	&__button-container {
		border-bottom: 1px solid rgb(235, 233, 233);
		padding: 1rem;
		
		&__back-btn {
			@media (max-width : 600px) {
				margin: 0 0 1rem;
			}
		}
	}

	&__title {
		padding: 1rem;
		margin-bottom: 0;
	}

	&__form {
		padding: 1rem;

		.form-group {
			&__date {
				width: 11rem;
			}
		}

		.pills-container {
			margin-top: 1rem;

			.badge-pill {
				margin-right: .5rem;
				margin-bottom: .5rem;
				font-size: 1rem;
				font-weight: normal;
				max-width: 100%;
				overflow: hidden;
			}
		}


		small {
			margin-left: .5rem;
			display: inline-block;
			color: rgb(250, 65, 65);
		}

		.submit-container {
			margin: 1rem 0;
			display: flex;
			flex-direction: column;
			width: fit-content;
			.message-none {
				display: none;
			}

			.message-block{
				display: block;
				color: rgb(250, 65, 65);
				margin-bottom: .5rem;
				margin-left: 0;
			}

			.form__submit {
				width: fit-content;
				
			}
		}

		
	}
}

