.bold-text {
    font-weight: bold;
}

.presentation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }

    &__item {
        text-align: left;
        padding: 0 .5rem;
        @media (max-width: 1200px) {
            height: 4rem;
        }
        @media (max-width: 992px) {
            align-items: center;
            margin-bottom: 1rem;
        }
        @media (max-width: 760px) {
            width: 9.5rem;
            align-items: center;
            margin-bottom: 0.5rem;
            height: 2.5rem;
            padding: 0;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
    }

    .presenter {
        width: 15%;
        padding-left: 0;
        @media (max-width: 760px) {
            font-weight: bold;
        }
        @media (max-width: 600px) {
            height: 1.5rem;
            width: 100%;
        }
    }

    .evaluator {
        width: 15%;
        @media (max-width: 600px) {
            height: 1.5rem;
            width: 100%;
        }
    }

    .topic {
        width: 29%;
        @media (max-width: 992px) {
            overflow: hidden;
            width: 40%;
        }
        @media (max-width: 760px) {
            width: 100%;
        }
        @media (max-width: 600px) {
            height: 3.5rem;
            font-size: 1.2rem;
        }
    }

    .date {
        width: 8rem;
        @media (max-width: 992px) {
            width: 9.5rem;
        }
        @media (max-width: 600px) {
            height: 1.5rem;
        }
    }

    .article {
        width: 9.5rem;
        @media (max-width: 1200px) {
            padding-right: 0;
        }
        @media (max-width: 992px) {
            padding: 0;
            width: 100%;
            align-items: center;
            height: 2rem;
        }
        @media (max-width: 600px) {
            margin-bottom: 1rem;
        }

        .btn {
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .badge {
                margin-top: 2px;
            }
        }
    }

    .buttons {
        width: 9.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 0;
        @media (max-width: 1200px) {
            margin-left: 83%;
            height: 2.5rem;
            padding: 0;
        }
        @media (max-width: 992px) {
            margin: 0;
            padding: 0;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
        }
        @media (max-width: 760px) {
            width: 100%;
            justify-content: flex-start;
        }
        @media (max-width: 600px) {
            justify-content: space-between;
            margin-bottom: .5rem;
        }

        .btn-danger {
            @media (max-width: 992px) {
                margin-left: .5rem;
            }
        }

        .btn-primary {
            @media (max-width: 600px) {
                width: 4.6rem;
            }
        }
    }

    .modify {
        width: 9.5rem;
        @media (max-width: 1200px) {
            display: none;
        }
    }
}

.bold-text {
    height: 3rem;
    @media (max-width: 760px) {
        display: none;
    }

    .article {
        @media (max-width: 992px) {
            display: none;
        }
    }

}